@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body{
    width: 100%;
}

.contenedor{
    margin-top: 100px;
    margin-left: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
    width: 700px;
    height: 500px;
    position: block;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

h1{
    color: #fff;
    margin: 5px;
    text-align: center;
}

h4{
    color: #00dfc4;
    margin: 5px;
    text-align: center;
}

.titulo{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
}

.inputBox{
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 250px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.571);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    margin-top: 5px;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.571);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    padding: 0 10px;
}

a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    transition: 0.1s;
    justify-content: center;
}
a:hover{
    color: #fff;
    background: #1d2b3a;
    box-shadow: 0 0 10px #00dfc4 , 0 0 40px #00dfc4, 0 0 80px #00dfc4;
    transition-delay: 1s;
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00dfc4);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;

}

a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00dfc4);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;   
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00dfc4);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;   
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00dfc4);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;   
}